@model List<DAL.ExpensasDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
<header>
    <div class="jumbotron text-center">
        <h1 class="display-5">Expensas del consorcio</h1>
    </div>
</header>
<section>
    <div class="row">
        <div class="col-md-8">
            <h4>Gasto Total Mes Actual @ViewBag.expensasMesActual.MesExpensa (hasta el momento):</h4>
        </div>
        <div class="col-md-4">
            <h4>@ViewBag.expensasMesActual.GastoTotal</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Unidades: @ViewBag.expensasMesActual.Unidades</h4>
        </div>
        <div class="col-md-4">
            <h4>Monto x Unidad:</h4>
        </div>
        <div class="col-md-4">
            <h4>@ViewBag.expensasMesActual.MontoExpensa</h4>
        </div>
    </div>
</section>
<section>

    <table class="table">
        <tr class="table-danger">
            <th>Año</th>
            <th>Mes</th>
            <th>Gasto Total ($)</th>
            <th>Expensas x Unidad ($)</th>
        </tr>
        @foreach (var e in Model)
        {
            if (!(e.AnioExpensa== DateTime.Now.Year&&e.MesExpensa==DateTime.Now.Month))
            {
                <tr>
                    <td>@e.AnioExpensa</td>
                    <td>@e.MesExpensa</td>
                    <td>@e.GastoTotal</td>
                    <td>@e.MontoExpensa</td>
                </tr>
            }
        }
    </table>

</section>
<section>
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</section>


