@model DAL.Unidad
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav>
<header>
    <div class="jumbotron text-center">
        <h1 class="display-5">Consorcio "@ViewBag.NombreConsorcio"- Nueva Unidad</h1>
    </div>
</header>
<section>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <form action="/Unidad/Crear" method="post">
                <fieldset>
                    <div class="d-none">
                        <input type="text" class="form-control" id="IdConsorcio" name="IdConsorcio" value="@ViewBag.IdConsorcio">
                    </div>
                    <div class="form-group row">
                        <label for="staticConsorcio" class="col-sm-2 col-form-label">Consorcio</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="" class="form-control-plaintext" id="staticConsorcio" value="@ViewBag.NombreConsorcio">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Nombre">Nombre (*)</label>
                        @Html.ValidationMessageFor(Model => Model.Nombre)
                        <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="NombrePropietario">Nombre Propietario (*)</label>
                        @Html.ValidationMessageFor(Model => Model.NombrePropietario)
                        <input type="text" class="form-control" id="NombrePropietario" name="NombrePropietario" placeholder="Nombre Propietario">
                    </div>
                    <div class="form-group">
                        <label for="ApellidoPropietario">Apellido Propietario (*)</label>
                        @Html.ValidationMessageFor(Model => Model.ApellidoPropietario)
                        <input type="text" class="form-control" id="ApellidoPropietario" name="ApellidoPropietario" placeholder="Apellido Propietario">
                    </div>
                    <div class="form-group">
                        <label for="EmailPropietario">Email Propietario (*)</label>
                        @Html.ValidationMessageFor(Model => Model.EmailPropietario)
                        <input type="email" class="form-control" id="EmailPropietario" name="EmailPropietario" aria-describedby="emailHelp" placeholder="Email Propietario">
                    </div>
                    <div class="form-group">
                        <label for="Superficie">Superficie (*)</label>
                        @Html.ValidationMessageFor(Model => Model.Superficie)
                        <input type="text" class="form-control" id="Superficie" name="Superficie" placeholder="Superficie">
                    </div>
                    <div class="d-none">
                        <input type="datetime-local" class="form-control" id="FechaCreacion" name="FechaCreacion" value="@ViewBag.FechaCreacion">
                    </div>
                    <div class="d-none">
                        <input type="text" class="form-control" id="IdUsuarioCreador" name="IdUsuarioCreador" value="1">
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="submit" formaction="/Unidad/Crear/@ViewBag.IdConsorcio" class="btn btn-primary">Guardar y Crear Otra Unidad</button>
                    <a href="/Unidad/Lista/@ViewBag.IdConsorcio" class="btn btn-primary">Cancelar</a>
                </fieldset>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</section>