@model DAL.Unidad
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
    var message = TempData["SuccessMsg"];
}
<script type="text/javascript">
    var message = '@message';
    if(message){
        $.notify({
            // options
            message: message,
        }, {
            // settings
            element: 'body',
            position: null,
            type: "success",
            allow_dismiss: true,
            newest_on_top: false,
            showProgressbar: false,
            placement: {
                from: "bottom",
                align: "center"
            },
            offset: 20,
            spacing: 10,
            z_index: 1031,
            delay: 5000,
            timer: 1000,
            mouse_over: null,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            },
            onShow: null,
            onShown: null,
            onClose: null,
            onClosed: null,
            icon_type: 'class',
            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                '<span data-notify="icon"></span> ' +
                '<span data-notify="title">{1}</span> ' +
                '<span data-notify="message">{2}</span>' +
                '<div class="progress" data-notify="progressbar">' +
                '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                '</div>' +
                '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
        });
    }
</script>
@*<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav>*@
<header>
    <div class="jumbotron text-center">
        <h1 class="display-5">Consorcio "@ViewBag.NombreConsorcio"- Nueva Unidad</h1>
    </div>
</header>
<section>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <form action="/Unidad/Crear/@ViewBag.IdConsorcio" method="post">
                <fieldset>
                    <div class="d-none">
                        <input type="text" class="form-control" id="IdConsorcio" name="IdConsorcio" value="@ViewBag.IdConsorcio">
                    </div>
                    <div class="form-group row">
                        <label for="staticConsorcio" class="col-sm-2 col-form-label">Consorcio</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="" class="form-control-plaintext" id="staticConsorcio" value="@ViewBag.NombreConsorcio">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Nombre">Nombre (*)</label>
                        @Html.ValidationMessageFor(Model => Model.Nombre)
                        <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="NombrePropietario">Nombre Propietario (*)</label>
                        @Html.ValidationMessageFor(Model => Model.NombrePropietario)
                        <input type="text" class="form-control" id="NombrePropietario" name="NombrePropietario" placeholder="Nombre Propietario">
                    </div>
                    <div class="form-group">
                        <label for="ApellidoPropietario">Apellido Propietario (*)</label>
                        @Html.ValidationMessageFor(Model => Model.ApellidoPropietario)
                        <input type="text" class="form-control" id="ApellidoPropietario" name="ApellidoPropietario" placeholder="Apellido Propietario">
                    </div>
                    <div class="form-group">
                        <label for="EmailPropietario">Email Propietario (*)</label>
                        @Html.ValidationMessageFor(Model => Model.EmailPropietario)
                        <input type="email" class="form-control" id="EmailPropietario" name="EmailPropietario" aria-describedby="emailHelp" placeholder="Email Propietario">
                    </div>
                    <div class="form-group">
                        <label for="Superficie">Superficie (*)</label>
                        @Html.ValidationMessageFor(Model => Model.Superficie)
                        <input type="text" class="form-control" id="Superficie" name="Superficie" placeholder="Superficie">
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="submit" formaction="/Unidad/CrearYOtra?idConsorcio=@ViewBag.IdConsorcio" class="btn btn-primary" >Guardar y Crear Otra Unidad</button>
                    <a href="/Unidad/Lista/@ViewBag.IdConsorcio" class="btn btn-primary">Cancelar</a>
                </fieldset>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</section>