@model  List<DAL.Unidad>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<header>
    <div class="jumbotron text-center">
        <h1 class="display-5">Unidades</h1>
    </div>
</header>
<section class="text-right">
    @Html.ActionLink("Nueva Unidad", "Crear", "Unidad", new { idConsorcio = ViewBag.IdConsorcio }, new { @class = "btn btn-primary" })
    <hr />
</section>
<section>
    <table id="listaTabla" class="table display" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
            <tr>
                <td>@Html.ActionLink("" + @Html.DisplayFor(m => u.Nombre) + "", "Modificar", "Unidad", new { idConsorcio = u.IdConsorcio, idUnidad = u.IdUnidad }, null)</td>
                <td>@u.ApellidoPropietario</td>
                <td>@u.NombrePropietario</td>
                <td>@u.EmailPropietario</td>
                <td>@Html.ActionLink("Eliminar", "Eliminar", "Unidad", new { idConsorcio = u.IdConsorcio, idUnidad = u.IdUnidad }, null)</td>
            </tr>
            }

        </tbody>
        <tfoot>
        </tfoot>
    </table>
</section>