@model DAL.Usuario
@{
    ViewBag.Title = "Ingreso";
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<h2>Ingreso</h2>

@using (@Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => Model.Email)
        @Html.TextBoxFor(model => Model.Email)
    </div>
    <div>
        @Html.DisplayNameFor(model => Model.Password)
        @Html.TextBoxFor(model => Model.Password, new { @type = "password" })
    </div>
    <button type="submit">Ingresar</button>
}

