@model DAL.Usuario
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<h2>Registro</h2>
@using (@Html.BeginForm())
{
<div>
    @Html.DisplayNameFor(model => Model.Email)
    @Html.TextBoxFor(model => Model.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(Model => Model.Email)
    <p>@TempData["mensajeMail"]</p>
</div>
<div>
    @Html.DisplayNameFor(model => Model.Password)
    @Html.TextBoxFor(model => Model.Password, new { @class = "form-control", @type = "password" })
    @Html.ValidationMessageFor(Model => Model.Password)
    <p>@TempData["mensajePass"]</p>
</div>
    <div>
        <label for="pass2" class="mt-2">Repetir Password</label>
        <input type="password" name="pass2" id="pass2" class = "form-control"/>
    </div>
    <button type="submit" class = " btn btn-primary">Registrar</button>
    <button type="reset" class = " btn btn-primary">Limpiar</button>
}

