@model DAL.Consorcio
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
<header>
    <div class="jumbotron text-center">
        <h1 class="display-5">Crear consorcio</h1>
    </div>
</header>
@using (@Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => Model.Nombre)
        @Html.TextBoxFor(model => Model.Nombre, new { @class = "form-control" })
        <div>@Html.ValidationMessageFor(Model => Model.Nombre)</div>
    </div>
    <div>
        @Html.DisplayNameFor(model => Model.Provincia)
        @Html.DropDownListFor(model => Model.IdProvincia, new SelectList(ViewBag.provincias, "IdProvincia", "Nombre"), "Seleccione una Provincia", new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.IdProvincia)
    </div>
    <div>
        @Html.DisplayNameFor(model => Model.Ciudad)
        @Html.TextBoxFor(model => Model.Ciudad, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.Ciudad)
    </div>
    <div>
        @Html.DisplayNameFor(model => Model.Calle)
        @Html.TextBoxFor(model => Model.Calle, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.Calle)
    </div>
    <div>
        @Html.DisplayNameFor(model => Model.Altura)
        @Html.TextBoxFor(model => Model.Altura, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.Altura)
    </div>
    <div>
        @Html.DisplayNameFor(model => Model.DiaVencimientoExpensas)
        @Html.TextBoxFor(model => Model.DiaVencimientoExpensas, new { @class = "form-control" ,@type = "number"})
        @Html.ValidationMessageFor(Model => Model.DiaVencimientoExpensas)
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" formaction="/Consorcio/CrearYOtra" class=" btn btn-primary">Guardar y Crear Otro Consorcio</button>
    <button type="submit" formaction="/Consorcio/CrearYUnidad" class="btn btn-primary">Guardar y Crear Unidad</button>
    <p>@Html.ActionLink("Cancelar", "Index", "Consorcio", new { @class = "btn btn-primary" })</p>
}

