@model List<DAL.Consorcio>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
<header>
<div class="jumbotron text-center">
    <h1 class="display-5">Lista de Consorcios</h1>
</div>
</header>
<p>@Html.ActionLink("Nuevo consorcio", "create", "Consorcio", new { @class = "btn btn-primary" })</p>
<table class="table display">
    <tr>
        <th>Nombre</th>
        <th>Provincia</th>
        <th>Ciudad</th>
        <th>Unidades</th>
        <th>Expensas</th>
        <th>Gastos</th>
        <th>Eliminar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink("" + @Html.DisplayFor(m => item.Nombre) + "", "update", "Consorcio", new { idConsorcio = item.IdConsorcio }, null)</td>
            <td>@Html.DisplayFor(m => item.Provincia.Nombre)</td>
            <td>@Html.DisplayFor(m => item.Ciudad)</td>
            <td>@Html.ActionLink("Ver Unidades", "Lista", "Unidad", new { idConsorcio = item.IdConsorcio }, new { area = "" })</td>
            <td>@Html.ActionLink("Ver Expensas", "index", "Expensas", new { idConsorcio = item.IdConsorcio }, null)</td>
            <td>@Html.ActionLink("Ver Gastos", "lista", "Gasto", new { idConsorcio = item.IdConsorcio }, null)</td>
            <td>
                @{ string idModal = "delete" + item.IdConsorcio; }

                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#@idModal">Borrar</button>

                <div class="modal fade" id=@idModal tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Consorcio: @item.Nombre</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Estas seguro que desea eliminar el consorcio @item.Nombre de la lista?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancelar</button>
                                @Html.ActionLink("Si, estoy seguro", "delete", "Consorcio", new { IdConsorcio = item.IdConsorcio }, new { @class = "btn btn-primary eliminarConsor" })
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
</table>
