@model List<DAL.Consorcio>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<h2>Lista de Consorcios</h2>
<p>@Html.ActionLink("Nuevo consorcio","create","Consorcio",null,null)</p>
<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Provincia</th>
        <th>Ciudad</th>
        <th>Unidades</th>
        <th>Expensas</th>
        <th>Gastos</th>
        <th>Eliminar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink("" + @Html.DisplayFor(m => item.Nombre) + "", "update", "Consorcio", new { idConsorcio = item.IdConsorcio }, null)</td>
            <td>@Html.DisplayFor(m => item.Provincia.Nombre)</td>
            <td>@Html.DisplayFor(m => item.Ciudad)</td>
            <td>@Html.ActionLink("Ver Unidades", "lista", "Unidad", new { idConsorcio = item.IdConsorcio })</td>
            <td>@Html.ActionLink("Ver Expensas", "listarExpensas", "Expensa", new { idConsorcio = item.IdConsorcio }, null)</td>
            <td>@Html.ActionLink("Ver Gastos", "list", "Gasto", new { idConsorcio = item.IdConsorcio }, null)</td>
            <td>@Html.ActionLink("Borrar", "delete", "Consorcio", new { idConsorcio = item.IdConsorcio }, null)</td>
        </tr>
    }
</table>
