@model DAL.Consorcio
@{
    ViewBag.Title = "update";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
<header>
<div class="jumbotron text-center">
    <h1 class="display-5">Consorcio "@Model.Nombre" - Editando</h1>
</div>
</header>
<div class="row">
    <div class="col-6">
        @using (@Html.BeginForm())
        {
            <div>
                @Html.DisplayNameFor(model => Model.Nombre)
                @Html.TextBoxFor(model => Model.Nombre, new {@class = "form-control" })
            </div>
            <div>
                @Html.DisplayNameFor(model => Model.Provincia)
                @Html.DropDownListFor(model => Model.IdProvincia, new SelectList(ViewBag.provincias, "IdProvincia", "Nombre"), new { @class = "form-control" })
            </div>
            <div>
                @Html.DisplayNameFor(model => Model.Ciudad)
                @Html.TextBoxFor(model => Model.Ciudad, new { @class = "form-control" })
            </div>
            <div>
                @Html.DisplayNameFor(model => Model.Calle)
                @Html.TextBoxFor(model => Model.Calle, new { @class = "form-control" })
            </div>
            <div>
                @Html.DisplayNameFor(model => Model.Altura)
                @Html.TextBoxFor(model => Model.Altura, new { @class = "form-control"})
            </div>
            <div class="mb-2">
                @Html.DisplayNameFor(model => Model.DiaVencimientoExpensas)
                @Html.TextBoxFor(model => Model.DiaVencimientoExpensas, new { @class = "form-control" , @type = "number"})
            </div>

            <button class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn btn-primary">@Html.ActionLink("Cancelar", "Index", "Consorcio", new { @class = "text-light" })</button>
        }
    </div>
    <div class="col-2"></div>
    <div class="col-4 d-flex flex-column align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.cantidadUnidades Unidades</h5>
                <div>
                    <a>@Html.ActionLink("Ver Unidades", "lista", "Unidad", new { @idConsorcio = Model.IdConsorcio }, null)</a>
                </div>
                <div>
                    <a>@Html.ActionLink("Ver Expensas", "Index", "Expensa", new { @idConsorcio = Model.IdConsorcio }, null)</a>
                </div>
                <div>
                    <a>@Html.ActionLink("Ver Gastos", "Lista", "Gasto", new { @idConsorcio = Model.IdConsorcio }, null)</a>
                </div>
                <button class="btn btn-primary">@Html.ActionLink("Eliminar Consorcio", "delete", "Consorcio", new { @IdConsorcio = Model.IdConsorcio }, new { @class = "text-light" })</button>
            </div>
        </div>
    </div>
</div>

