@model DAL.Consorcio
@{
    ViewBag.Title = "update";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<h2>Consorcio "@Model.Nombre" - Editando</h2>

@using (@Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => Model.Nombre)
        @Html.TextBoxFor(model => Model.Nombre)
    </div>
    <div>
        @Html.DisplayNameFor(model => Model.Provincia)
        @Html.DropDownListFor(model => Model.IdProvincia, new SelectList(ViewBag.provincias, "IdProvincia", "Nombre"))
    </div>
    <div>
        @Html.DisplayNameFor(model => Model.Ciudad)
        @Html.TextBoxFor(model => Model.Ciudad)
    </div>
    <div>
        @Html.DisplayNameFor(model => Model.Calle)
        @Html.TextBoxFor(model => Model.Calle)
    </div>
    <div>
        @Html.DisplayNameFor(model => Model.Altura)
        @Html.TextBoxFor(model => Model.Altura)
    </div>
    <div>
        @Html.DisplayNameFor(model => Model.DiaVencimientoExpensas)
        @Html.EditorFor(model => Model.DiaVencimientoExpensas)
    </div>
    <button type="submit">Guardar</button>
    <button>@Html.ActionLink("Cancelar", "Index", "Consorcio", new { @class = "btn-sm btn-danger" })</button>
}

<div>
    <p>@ViewBag.cantidadUnidades Unidades</p>
    <a>@Html.ActionLink("Ver Unidades", "lista", "Unidad", new { @id = Model.IdConsorcio }, null)</a>
    <a>@Html.ActionLink("Ver Expensas", "Index", "Expensa", null)</a>
    <a>@Html.ActionLink("Ver Gastos", "Lista", "Gasto", new { @idConsorcio = Model.IdConsorcio }, null)</a>
    <button>@Html.ActionLink("Eliminar Consorcio", "delete", "Consorcio", new { @id = Model.IdConsorcio }, null)</button>
</div>

